/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html, body {
  margin: 0;
  padding: 0;
}


body {

}

.main {
  padding: 0;
  margin: 0;
  background-image: url('janko-ferlic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

p {
  margin: 3px 0;
}

header {
  width: 700px;
}

header h1 {
  font-family: 'Domine', serif;
  font-size: 50px;
  margin: 50px 0 40px 0;
}

.container {
  width: 700px;
  background-color: black;
  opacity: 0.9;
}

/* Book */
.book {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 6px 0;
}

.rank-this-week {
  font-size: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.book .author,
.publisher,
.description,
a {
  font-family: 'Libre Baskerville', serif;
}

.btn {
  background-color: white;
  color: black;
  font-size: 1rem; 
  font-weight: 700;
  opacity: 0.7;  
}

.btn:hover {
  color: teal;
  opacity: 0.9; 
}

/* Review */

.review {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.review .author {
  font-weight: bold;  
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
}