
body {
  background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2041&q=80');
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}


p {
  margin: 3px 0;
}


/*   HEADER   */

header h1 {
  font-family: 'Domine', serif;
  font-size: 50px;
  margin: 50px 0 40px 0;
}

header a {
  color: white;
}

header a:hover {
  color: teal;
  text-decoration: none;
}



/*    MAIN    */

.container {
  background-color: black;
  color: white;
  opacity: 0.9;
}

/* Book */
.book {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 6px 0;
}

.rank-this-week {
  font-size: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.book .author,
.publisher,
.description,
a {
  font-family: 'Libre Baskerville', serif;
}

.btn {
  background-color: white;
  color: black;
  font-size: 1rem; 
  font-weight: 700;
  opacity: 0.7;  
}

.back {
  padding: 5px 25px;
  margin-bottom: 10px;
}

.btn:hover {
  color: teal;
  opacity: 0.9; 
}

/* Review */

.review {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.review .author {
  font-weight: bold;  
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
}